body{
	background-color:black;
}
.question-container{
	margin-top:50px;
	background-color:white;
	text-align:center;
	display:none;
}
.answer-button-row{
	margin-bottom:20px;
}
.submit-answer-button{
	float:right;
}
.start-container{
	margin-top:50px;
	background-color:white;
	text-align:center;
	height:500px;
}
.start-row{
	margin-top:200px;
}
.answer-button{
	width:200px;
}
.go-back-button{
	float:left;
	display:none;
}